#app {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}
.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.controls-container {
  position: absolute;
  justify-content: space-between;
}
.slide-control-button {
  display: flex;
  cursor: pointer;
  height: 100%;
  width: 20%;
  background-color: rgba(0, 0, 0, 50%);
  opacity: 0;
  transition: 0.5s;
}
.slide-control-button:hover {
  opacity: 0.8;
}
.slide-control-button img {
  align-self: center;
  max-width: 100%;
  height: 40%;
  user-select: none;
  pointer-events: none;
}
.slide-list {
  display: flex;
  position: absolute;
  align-self: flex-end;
  left: 50%;
  transform: translate(-50%); 
}
.slide-point {
  margin: 5px;
  padding: 5px;
  color: rgba(0, 0, 0, 50%);
  cursor: pointer;
  font-size: 2.5em;
  transition: 0.3s;
}
.slide-point-active {
  transform: scale(1.5);
}
.slide-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2vw;
  text-align: center;
  pointer-events: none;
  transition: 0.7s;
}
.slide-content p {
  max-width: 80%;
}
.slide-content img, video {
  max-width: 100%;
  max-height: 100%;
}
.prev-slide {
  margin-left: -100%;
}
.no-select {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}