* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow: hidden;
  background: rgb(40,60,82);
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background: radial-gradient(circle, rgba(40,60,82,1) 0%, rgba(22,26,33,1) 100%);
}
.app-container {
  position: relative;
  width: 90%;
  height: 70%;
  margin: auto;
  align-self: center;

  -webkit-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
}
@media (min-width: 560px) {
  .app-container {
      height: initial;
      width: 80%;
      padding-top: 45%;
  }
}